* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(130deg, #f5b6b3, #ffffff, #6272fc);
  background-size: 200% 200%;
  animation: Animation 5s ease infinite;
  transition: all 0.5s;
}
header {
  text-align: end;
  padding: 0px 50px;
}
header div i {
  font-size: 50px;
  color: rgb(70, 1, 182);
  transition: color 0.5s ease;
}
header div i:hover {
  color: rgb(31, 30, 30);
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 35px;
  grid-row-gap: 10px;
  justify-content: center;
}
.container > div {
  text-align: center;
}
.img {
  width: 110px;
  height: 110px;
  background: linear-gradient(130deg, #050505, #ffffff, #6272fc);
  border: 1px solid rgb(163, 163, 163);
  border-radius: 50%;
  margin: 5px;
  transform: rotate(0deg) scale(0.7);
  animation: Animation 5s ease infinite;
  transition: transform 0.9s linear;
}
.img:hover {
  transform: rotateZ(720deg) scale(1);
}

.group {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 5px;
  grid-row: 5px;
  background: linear-gradient(130deg, #f5b6b3, #fce9e9, #6272fc);
  border: 1px solid #6272fc;
  border-radius: 15px;
  padding: 0px;
  position: relative;
  transition: all 1s ease-in-out;
  transform: scale(1);
}
.group:hover {
  background-color: #5464f5;
  transform: scale(1.1);
  z-index: 2;
}

@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
#parent{
  text-align: center;
}
.myButton {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 80px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  color: #ffff;
  border-radius: 20px;
  background-image: linear-gradient(40deg, #d38cff, #6272fc);
  box-shadow: rgba(50, 50, 93, 1) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;
  cursor: pointer;
  transform: scale(.8);
  transition: all 0.2s ease-out;
}
.myButton:hover {
  background-image: linear-gradient(30deg, #f5b6b3, #6272fc);
  font-size: 1.4rem;
  transform: scale(.9);
  transition-duration: 1s ease-out;
  box-shadow: #030557 0px 25px 35px -13px;
  border-radius: 15px;
  color: #ffffeb;
  border: 0.1px #6e0175;
  -webkit-tap-highlight-color: transparent;
  animation-play-state: paused;
}


@media (max-width: 700px) {
  .img {
    width: 90px;
    height: 90px;
  }
  header {
    text-align: center;
    padding: 0px 50px;
  }
  #btnplayMusic {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 35px;
    grid-row-gap: 10px;
    justify-content: center;
  }
  body {
    overflow: scroll;
    height: auto;
  }
}
