* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    font-family: "Potta One", cursive;
}


/*start nav*/

nav {
    background-image: linear-gradient(40deg, #d38cff, #6272fc);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 5px 2px rgba(0, 0, 0, 0.14);
    z-index: 99;
}

.nav-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
}

.nav-logo {
    font-size: 2rem;
}

.user-loginname {
    font-size: 70px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

.fa-user {
    color: white;
    font-size: 20px;
}


/*end nav*/

.game-box {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.card {
    background: #fff;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.25);
    float: left;
    padding: 32px;
}

.game {
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
}

.status {
    margin-left: 50px;
    padding-top: 10px;
    padding: 10px;
}


/* table grid style*/

#puzzle-grid {
    padding: 20px;
    border-spacing: 1;
    transition: all 0.5s;
    border-collapse: separate;
    border-spacing: 10px 5px;
    align-items: center;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.45);
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 1px;
}

#puzzle-grid tr:nth-child(3n) td {
    border-bottom: 4px solid #5d4092;
}

#puzzle-grid tr:nth-child(3n + 1) td {
    border-top: 4px solid #5d4092;
}

#puzzle-grid td:nth-child(3n) {
    border-right: 4px solid #5d4092;
}

#puzzle-grid td:nth-child(3n + 1) {
    border-left: 4px solid #5d4092;
}


/*images list style*/

.images {
    list-style-type: none;
    margin-top: 20px;
}

.images li {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    margin-bottom: 10px;
    border-radius: 10px;
}


/* info div style*/

.info {
    margin-top: 80PX;
}

.game-status {
    list-style-type: none;
    margin-left: 100px;
    display: flex;
    width: 80%;
}

.game-status li {
    width: 33.6%;
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

.game-status .start-game {
    text-align: right;
}

.game-status .start-game span {
    margin: 0px;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-family: bolder;
    font-family: "Monaco";
    color: #ffff;
    border-radius: 20px;
    background-image: linear-gradient(40deg, #d38cff, #6272fc);
    box-shadow: rgba(50, 50, 93, 1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.5) 0px 30px 60px -30px, rgba(10, 37, 64, 0.65) 0px -2px 6px 0px inset;
    cursor: pointer;
    transform: scale(0.8);
    transition: all .2s ease-out;
}

.game-status .start-game span:hover {
    background-image: linear-gradient(30deg, #f5b6b3, #6272fc);
    font-size: 1.4rem;
    transform: scale(0.9);
    transition-duration: 1s ease-out;
    box-shadow: #030557 0px 25px 35px -13px;
    border-radius: 15px;
    color: #ffffeb;
    border: 0.1px #6e0175;
    /*   font-family:"Monaco" */
    -webkit-tap-highlight-color: transparent;
    animation-play-state: paused;
}

.vertical-adjust span {
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.64);
}

i {
    color: #5d4092;
    font-size: 10px;
}

.div-val {
    color: #5d4092;
    font-size: 28px;
    padding: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}


/*active class to selected td*/


/* td.active {
    box-shadow: 0px 9px 4px -6px grey;
    cursor: pointer;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    transform: scaleZ(3);
    transform: scaleX(1.1);
    transform: scaleY(1.1);
} */


/*image style */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}